body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.edit,
.user-email {
  font-size: 12px;
  color: #9b9b9b;
  opacity: 0.8;
}

.user-email {
  padding: 7px;
}

.edit {
  padding: 20px;
  margin-top: 107px;
}
